.main-content {
  min-height: 100vh;

  margin-left: 99px;
  display: flex;  

  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: margin-left 220ms ease;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;

    padding-bottom: 70px;
  }
}